<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Region</key>
		<string>Asia</string>
		<key>Afghanistan</key>
		<string>🇦🇫 </string>
		<key>Armenia</key>
		<string>🇦🇲</string>
		<key>Azerbaijan</key>
		<string>🇦🇿</string>
		<key>Bangladesh</key>
		<string>🇧🇩</string>
		<key>Bhutan</key>
		<string>🇧🇹</string>
		<key>Brunei</key>
		<string>🇧🇳</string>
		<key>Cambodia</key>
		<string>🇰🇭</string>
		<key>China</key>
		<string>🇨🇳</string>
		<key>Georgia</key>
		<string>🇬🇪</string>
		<key>Hong Kong</key>
		<string>🇭🇰</string>
		<key>India</key>
		<string>🇮🇳</string>
		<key>Indonesia</key>
		<string>🇮🇩</string>
		<key>Japan</key>
		<string>🇯🇵</string>
		<key>Kazakhstan</key>
		<string>🇰🇿</string>
		<key>North Korea</key>
		<string>🇰🇵</string>
		<key>South Korea</key>
		<string>🇰🇷</string>
		<key>Kyrgyzstan</key>
		<string>🇰🇬</string>
		<key>Laos</key>
		<string>🇱🇦</string>
		<key>Macao</key>
		<string>🇲🇴</string>
		<key>Malaysia</key>
		<string>🇲🇾</string>
		<key>Maldives</key>
		<string>🇲🇻</string>
		<key>Mongolia</key>
		<string>🇲🇳</string>
		<key>Myanmar (Burma)</key>
		<string>🇲🇲</string>
		<key>Nepal</key>
		<string>🇳🇵</string>
		<key>Pakistan</key>
		<string>🇵🇰</string>
		<key>Philippines</key>
		<string>🇵🇭</string>
		<key>Singapore</key>
		<string>🇸🇬</string>
		<key>Sri Lanka</key>
		<string>🇱🇰</string>
		<key>Taiwan</key>
		<string>🇹🇼</string>
		<key>Tajikistan</key>
		<string>🇹🇯</string>
		<key>Thailand</key>
		<string>🇹🇭</string>
		<key>Timor-Leste
Timor-Leste</key>
		<string>🇹🇱</string>
		<key>Turkmenistan</key>
		<string>🇹🇲</string>
		<key>Uzbekistan</key>
		<string>🇺🇿</string>
		<key>Vietnam</key>
		<string>🇻🇳</string>
	</dict>
	<dict>
		<key>Region</key>
		<string>Europe</string>
		<key>Germany</key>
		<string>🇩🇪</string>
		<key>UK</key>
		<string>🇬🇧</string>
		<key>France</key>
		<string>🇫🇷</string>
	</dict>
	<dict>
		<key>Region</key>
		<string>North America</string>
		<key>USA</key>
		<string>🇺🇸 </string>
		<key>Canada</key>
		<string>🇨🇦</string>
	</dict>
	<dict>
		<key>Region</key>
		<string>Africa</string>
		<key>Burundi</key>
		<string>🇧🇮</string>
		<key>Togo</key>
		<string>🇹🇬</string>
		<key>South-Africa</key>
		<string>🇿🇦</string>
	</dict>
</array>
</plist>
