<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Region</key>
		<string>Europe</string>
		<key>Albania</key>
		<string>🇦🇱</string>
		<key>Andorra</key>
		<string>🇦🇩</string>
		<key>Belarus</key>
		<string>🇧🇾</string>
		<key>Bosnia</key>
		<string>🇧🇦</string>
		<key>Croatia</key>
		<string>🇭🇷</string>
		<key>Faroe-Islands</key>
		<string>🇫🇴</string>
		<key>Gibraltar</key>
		<string>🇬🇮</string>
		<key>Guernsey</key>
		<string>🇬🇬</string>
		<key>Iceland</key>
		<string>🇮🇸</string>
		<key>Jersey</key>
		<string>🇯🇪</string>
		<key>Kosovo</key>
		<string>🇽🇰</string>
		<key>Liechtenstein</key>
		<string>🇱🇮</string>
		<key>Isle-of-Man</key>
		<string>🇮🇲</string>
		<key>Moldova</key>
		<string>🇲🇩</string>
		<key>Monaco</key>
		<string>🇲🇨</string>
		<key>Montenegro</key>
		<string>🇲🇪</string>
		<key>North-Macedonia</key>
		<string>🇲🇰</string>
		<key>Norway</key>
		<string>🇳🇴</string>
		<key>Russia</key>
		<string>🇷🇺</string>
		<key>San-Marino</key>
		<string>🇸🇲</string>
		<key>Serbia</key>
		<string>🇷🇸</string>
		<key>Svalbard&amp;Jan-Mayen</key>
		<string>🇸🇯</string>
		<key>Switzerland</key>
		<string>🇨🇭</string>
		<key>Turkey</key>
		<string>🇹🇷</string>
		<key>Ukraine</key>
		<string>🇺🇦</string>
		<key>Vatican-City</key>
		<string>🇻🇦</string>
		<key>Austria</key>
		<string>🇦🇹</string>
		<key>Belgium</key>
		<string>🇧🇪</string>
		<key>Bulgaria</key>
		<string>🇧🇬</string>
		<key>Cyprus</key>
		<string>🇨🇾</string>
		<key>Czechia</key>
		<string>🇨🇿</string>
		<key>Denmark</key>
		<string>🇩🇰</string>
		<key>Estonia</key>
		<string>🇪🇪</string>
		<key>Finland</key>
		<string>🇫🇮</string>
		<key>France</key>
		<string>🇫🇷</string>
		<key>Germany</key>
		<string>🇩🇪</string>
		<key>Greece</key>
		<string>🇬🇷</string>
		<key>Hungary</key>
		<string>🇭🇺</string>
		<key>Ireland</key>
		<string>🇮🇪</string>
		<key>Italy</key>
		<string>🇮🇹</string>
		<key>Latvia</key>
		<string>🇱🇻</string>
		<key>Lithuania</key>
		<string>🇱🇹</string>
		<key>Luxembourg</key>
		<string>🇱🇺</string>
		<key>Malta</key>
		<string>🇲🇹</string>
		<key>Netherlands</key>
		<string>🇳🇱</string>
		<key>Poland</key>
		<string>🇵🇱</string>
		<key>Portugal</key>
		<string>🇵🇹</string>
		<key>Romania</key>
		<string>🇷🇴</string>
		<key>Slovakia</key>
		<string>🇸🇰</string>
		<key>Slovenia</key>
		<string>🇸🇮</string>
		<key>Spain</key>
		<string>🇪🇸</string>
		<key>Sweden</key>
		<string>🇸🇪</string>
		<key>United-Kingdom</key>
		<string>🇬🇧</string>
	</dict>
	<dict>
		<key>Region</key>
		<string>Africa</string>
		<key>Burundi</key>
		<string>🇧🇮</string>
		<key>Comoros</key>
		<string>🇰🇲</string>
		<key>Djibouti</key>
		<string>🇩🇯</string>
		<key>Eritrea</key>
		<string>🇪🇷</string>
		<key>Ethiopia</key>
		<string>🇪🇹</string>
		<key>Kenya</key>
		<string>🇰🇪</string>
		<key>Madagascar</key>
		<string>🇲🇬</string>
		<key>Malawi</key>
		<string>🇲🇼</string>
		<key>Mauritius</key>
		<string>🇲🇺</string>
		<key>Mayotte</key>
		<string>🇾🇹</string>
		<key>Mozambique</key>
		<string>🇲🇿</string>
		<key>Réunion</key>
		<string>🇷🇪</string>
		<key>Rwanda</key>
		<string>🇷🇼</string>
		<key>Seychelles</key>
		<string>🇸🇨</string>
		<key>Somalia</key>
		<string>🇸🇴</string>
		<key>Tanzania</key>
		<string>🇹🇿</string>
		<key>Uganda</key>
		<string>🇺🇬</string>
		<key>Zambia</key>
		<string>🇿🇲</string>
		<key>Zimbabwe</key>
		<string>🇿🇼</string>
		<key>Angola</key>
		<string>🇦🇴</string>
		<key>Cameroon</key>
		<string>🇨🇲</string>
		<key>Central-African-Republic</key>
		<string>🇨🇫</string>
		<key>Chad</key>
		<string>🇹🇩</string>
		<key>Congo-Brazzaville</key>
		<string>🇨🇬</string>
		<key>Congo-Kinshasa</key>
		<string>🇨🇩</string>
		<key>Equatorial-Guinea</key>
		<string>🇬🇶</string>
		<key>Gabon</key>
		<string>🇬🇦</string>
		<key>São-Tomé&amp;Príncipe</key>
		<string>🇸🇹</string>
		<key>Algeria</key>
		<string>🇩🇿</string>
		<key>Egypt</key>
		<string>🇪🇬</string>
		<key>Libya</key>
		<string>🇱🇾</string>
		<key>Morocco</key>
		<string>🇲🇦</string>
		<key>South-Sudan</key>
		<string>🇸🇸</string>
		<key>Sudan</key>
		<string>🇸🇩</string>
		<key>Tunisia</key>
		<string>🇹🇳</string>
		<key>Western-Sahara</key>
		<string>🇪🇭</string>
		<key>Botswana</key>
		<string>🇧🇼</string>
		<key>Eswatini</key>
		<string>🇸🇿</string>
		<key>Lesotho</key>
		<string>🇱🇸</string>
		<key>Namibia</key>
		<string>🇳🇦</string>
		<key>South-Africa</key>
		<string>🇿🇦</string>
		<key>Benin</key>
		<string>🇧🇯</string>
		<key>Burkina-Faso</key>
		<string>🇧🇫</string>
		<key>Cape-Verde</key>
		<string>🇨🇻</string>
		<key>Côte-d’Ivoire</key>
		<string>🇨🇮</string>
		<key>Gambia</key>
		<string>🇬🇲</string>
		<key>Ghana</key>
		<string>🇬🇭</string>
		<key>Guinea</key>
		<string>🇬🇳</string>
		<key>Guinea-Bissau</key>
		<string>🇬🇼</string>
		<key>Liberia</key>
		<string>🇱🇷</string>
		<key>Mali</key>
		<string>🇲🇱</string>
		<key>Mauritania</key>
		<string>🇲🇷</string>
		<key>Niger</key>
		<string>🇳🇪</string>
		<key>Nigeria</key>
		<string>🇳🇬</string>
		<key>St.Helena</key>
		<string>🇸🇭</string>
		<key>Senegal</key>
		<string>🇸🇳</string>
		<key>Sierra-Leone</key>
		<string>🇸🇱</string>
		<key>Togo</key>
		<string>🇹🇬</string>
	</dict>
	<dict>
		<key>Region</key>
		<string>Asia</string>
		<key>Afghanistan</key>
		<string>🇦🇫 </string>
		<key>Armenia</key>
		<string>🇦🇲</string>
		<key>Azerbaijan</key>
		<string>🇦🇿</string>
		<key>Bangladesh</key>
		<string>🇧🇩</string>
		<key>Bhutan</key>
		<string>🇧🇹</string>
		<key>Brunei</key>
		<string>🇧🇳</string>
		<key>Cambodia</key>
		<string>🇰🇭</string>
		<key>China</key>
		<string>🇨🇳</string>
		<key>Georgia</key>
		<string>🇬🇪</string>
		<key>Hong Kong</key>
		<string>🇭🇰</string>
		<key>India</key>
		<string>🇮🇳</string>
		<key>Indonesia</key>
		<string>🇮🇩</string>
		<key>Japan</key>
		<string>🇯🇵</string>
		<key>Kazakhstan</key>
		<string>🇰🇿</string>
		<key>North Korea</key>
		<string>🇰🇵</string>
		<key>South Korea</key>
		<string>🇰🇷</string>
		<key>Kyrgyzstan</key>
		<string>🇰🇬</string>
		<key>Laos</key>
		<string>🇱🇦</string>
		<key>Macao</key>
		<string>🇲🇴</string>
		<key>Malaysia</key>
		<string>🇲🇾</string>
		<key>Maldives</key>
		<string>🇲🇻</string>
		<key>Mongolia</key>
		<string>🇲🇳</string>
		<key>Myanmar (Burma)</key>
		<string>🇲🇲</string>
		<key>Nepal</key>
		<string>🇳🇵</string>
		<key>Pakistan</key>
		<string>🇵🇰</string>
		<key>Philippines</key>
		<string>🇵🇭</string>
		<key>Singapore</key>
		<string>🇸🇬</string>
		<key>Sri Lanka</key>
		<string>🇱🇰</string>
		<key>Taiwan</key>
		<string>🇹🇼</string>
		<key>Tajikistan</key>
		<string>🇹🇯</string>
		<key>Thailand</key>
		<string>🇹🇭</string>
		<key>Timor-Leste
Timor-Leste</key>
		<string>🇹🇱</string>
		<key>Turkmenistan</key>
		<string>🇹🇲</string>
		<key>Uzbekistan</key>
		<string>🇺🇿</string>
		<key>Vietnam</key>
		<string>🇻🇳</string>
		<key>Bahrain</key>
		<string>🇧🇭</string>
		<key>Iraq</key>
		<string>🇮🇶</string>
		<key>Iran</key>
		<string>🇮🇷</string>
		<key>Israel</key>
		<string>🇮🇱</string>
		<key>Jordan</key>
		<string>🇯🇴</string>
		<key>Kuwait</key>
		<string>🇰🇼</string>
		<key>Lebanon</key>
		<string>🇱🇧</string>
		<key>Oman</key>
		<string>🇴🇲</string>
		<key>Palestine</key>
		<string>🇵🇸</string>
		<key>Qatar</key>
		<string>🇶🇦</string>
		<key>Saudi Arabia</key>
		<string>🇸🇦</string>
		<key>Syria</key>
		<string>🇸🇾</string>
		<key>United-Arab-Emirates</key>
		<string>🇦🇪</string>
		<key>Yemen</key>
		<string>🇾🇪</string>
	</dict>
	<dict>
		<key>Region</key>
		<string>America</string>
		<key>Anguilla</key>
		<string>🇦🇮</string>
		<key>Antigua&amp;Barbuda</key>
		<string>🇦🇬</string>
		<key>Aruba</key>
		<string>🇦🇼</string>
		<key>Bahamas</key>
		<string>🇧🇸</string>
		<key>Barbados</key>
		<string>🇧🇧</string>
		<key>British-Virgin-Islands</key>
		<string>🇻🇬</string>
		<key>Cayman-Islands</key>
		<string>🇰🇾</string>
		<key>Cuba</key>
		<string>🇨🇺</string>
		<key>Curaçao</key>
		<string>🇨🇼</string>
		<key>Dominica</key>
		<string>🇩🇲</string>
		<key>Dominican-Republic</key>
		<string>🇩🇴</string>
		<key>Grenada</key>
		<string>🇬🇩</string>
		<key>Guadeloupe</key>
		<string>🇬🇵</string>
		<key>Haiti</key>
		<string>🇭🇹</string>
		<key>Jamaica</key>
		<string>🇯🇲</string>
		<key>Martinique</key>
		<string>🇲🇶</string>
		<key>Montserrat</key>
		<string>🇲🇸</string>
		<key>Puerto-Rico</key>
		<string>🇵🇷</string>
		<key>St.Barthélemy</key>
		<string>🇧🇱</string>
		<key>St.Kitts&amp;Nevis</key>
		<string>🇰🇳</string>
		<key>St.Lucia</key>
		<string>🇱🇨</string>
		<key>St.Martin</key>
		<string>🇲🇫</string>
		<key>St.Vincent&amp;Grenadines</key>
		<string>🇻🇨</string>
		<key>Sint-Maarten</key>
		<string>🇸🇽</string>
		<key>Trinidad&amp;Tobago</key>
		<string>🇹🇹</string>
		<key>Turks&amp;Caicos-Islands</key>
		<string>🇹🇨</string>
		<key>U.S.Virgin-Islands</key>
		<string>🇻🇮</string>
		<key>Belize</key>
		<string>🇧🇿</string>
		<key>Costa-Rica</key>
		<string>🇨🇷</string>
		<key>El-Salvador</key>
		<string>🇸🇻</string>
		<key>Guatemala</key>
		<string>🇬🇹</string>
		<key>Honduras</key>
		<string>🇭🇳</string>
		<key>Mexico</key>
		<string>🇲🇽</string>
		<key>Nicaragua</key>
		<string>🇳🇮</string>
		<key>Panama</key>
		<string>🇵🇦</string>
		<key>Argentina</key>
		<string>🇦🇷</string>
		<key>Bolivia</key>
		<string>🇧🇴</string>
		<key>Brazil</key>
		<string>🇧🇷</string>
		<key>Chile</key>
		<string>🇨🇱</string>
		<key>Colombia</key>
		<string>🇨🇴</string>
		<key>Ecuador</key>
		<string>🇪🇨</string>
		<key>Falkland-Islands</key>
		<string>🇫🇰</string>
		<key>French-Guiana</key>
		<string>🇬🇫</string>
		<key>Guyana</key>
		<string>🇬🇾</string>
		<key>Paraguay</key>
		<string>🇵🇾</string>
		<key>Peru</key>
		<string>🇵🇪</string>
		<key>Suriname</key>
		<string>🇸🇷</string>
		<key>Uruguay</key>
		<string>🇺🇾</string>
		<key>Venezuela</key>
		<string>🇻🇪</string>
		<key>Bermuda</key>
		<string>🇧🇲</string>
		<key>Canada</key>
		<string>🇨🇦</string>
		<key>Greenland</key>
		<string>🇬🇱</string>
		<key>St.Pierre&amp;Miquelon</key>
		<string>🇵🇲</string>
		<key>USA</key>
		<string>🇺🇸</string>
	</dict>
	<dict>
		<key>Region</key>
		<string>Oceania</string>
		<key>Australia</key>
		<string>🇦🇺</string>
		<key>Fiji</key>
		<string>🇫🇯</string>
		<key>French-Polynesia</key>
		<string>🇵🇫</string>
		<key>Guam</key>
		<string>🇬🇺</string>
		<key>Kiribati</key>
		<string>🇰🇮</string>
		<key>Marshall-Islands</key>
		<string>🇲🇭</string>
		<key>Micronesia</key>
		<string>🇫🇲</string>
		<key>New-Caledonia</key>
		<string>🇳🇨</string>
		<key>New-Zealand</key>
		<string>🇳🇿</string>
		<key>Papua-New-Guinea</key>
		<string>🇵🇬</string>
		<key>Samoa</key>
		<string>🇼🇸</string>
		<key>American-Samoa</key>
		<string>🇦🇸</string>
		<key>Solomon-Islands</key>
		<string>🇸🇧</string>
		<key>Tonga</key>
		<string>🇹🇴</string>
		<key>Vanuatu</key>
		<string>🇻🇺</string>
	</dict>
</array>
</plist>
