<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Image</key>
		<string>NikolaTesla</string>
		<key>Name</key>
		<string>Nikola Tesla</string>
		<key>Country</key>
		<string>Croatia 🇭🇷 Europe
🇭🇷</string>
		<key>Quotes</key>
		<array>
			<string>&quot;The present is theirs; the future, for which I really worked, is mine.&quot;</string>
			<string>&quot;The day science begins to study non-physical phenomena, it will make more progress in one decade than in all the previous centuries of its existence.&quot;</string>
			<string>&quot;Our virtues and our failings are inseparable, like force and matter. When they separate, man is no more.&quot;</string>
		</array>
		<key>Info</key>
		<string>Arguably at the top of the list of greatest engineers is Nikola Tesla. He was Serbian, and moved to America at the age of 28 to work with Thomas Edison. Tesla is perhaps one of the most underrated electrical engineers, and didn’t receive credit for a lot of his inventions.

There’s no doubt that he had a huge influence on society, though. His inventions include the induction motor, 3-phase electricity, fluorescent lighting and the Tesla coil. He also developed the AC current generation system made from a transformer and a motor.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>scientist</string>
			<string>engineer</string>
		</array>
		<key>Gender</key>
		<string>man</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>ThomasEdison</string>
		<key>Name</key>
		<string>Thomas Edison</string>
		<key>Country</key>
		<string>Italy 🇮🇹 Europe</string>
		<key>Quotes</key>
		<array>
			<string>&quot;I have not failed. I&apos;ve just found 10,000 ways that won&apos;t work.&quot;</string>
			<string>&quot;Genius is one percent inspiration and ninety-nine percent perspiration.&quot;</string>
			<string>&quot;Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.&quot;</string>
		</array>
		<key>Info</key>
		<string>Thomas Edison was an American inventor and referred to as a great businessman. He holds an astounding 1,097 patents, a record. He goes down as the most prolific inventor in history. A few of his many inventions include the motion picture camera and projector, the phonograph, and the incandescent lightbulb. Can you imagine life without the lightbulb?</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>scientist</string>
			<string>engineer</string>
		</array>
		<key>Gender</key>
		<string>man</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>HenryFord</string>
		<key>Name</key>
		<string>Henry Ford</string>
		<key>Country</key>
		<string>USA 🇺🇸 America</string>
		<key>Quotes</key>
		<array>
			<string>&quot;Coming together is a beginning, staying together is progress, and working together is success.&quot;</string>
			<string>&quot;If you think you can do a thing or think you can&apos;t do a thing, you&apos;re right.&quot;</string>
			<string>&quot;Failure is simply the opportunity to begin again, this time more intelligently.&quot;</string>
		</array>
		<key>Info</key>
		<string>Henry Ford was an engineer and industrialist who founded the Ford Motor Company. The rest is history. Although not the inventor of the modern car, he developed assembly and production lines that brought about mass production – resulting in the first motor car that an average person could afford. As a result, he turned the automobile into something of a necessity rather than just a thing of curiosity.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>scientist</string>
			<string>engineer</string>
			<string>entrepreneur</string>
			<string>investor</string>
		</array>
		<key>Gender</key>
		<string>man</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>Archimedes</string>
		<key>Name</key>
		<string>Archimedes</string>
		<key>Country</key>
		<string>Italy 🇮🇹 Europe</string>
		<key>Quotes</key>
		<array>
			<string>&quot;Give me a place to stand and I will move the earth.&quot;</string>
			<string>&quot;Don&apos;t disturb my circles!&quot;</string>
			<string>&quot;He who knows how to speak, knows also when.&quot;</string>
		</array>
		<key>Info</key>
		<string>A classic scientist in the making, Archimedes was a Greek engineer, mathematician, physicist and astronomer. He has had a lasting influence in these areas, and although very little is known about the man himself, his inventions have stood the test of time and laid the foundations for many modern designs. The Archimedes screw, which can raise water efficiently, is undoubtedly the most famous.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>scientist</string>
			<string>engineer</string>
		</array>
		<key>Gender</key>
		<string>man</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>NikolausOtto</string>
		<key>Name</key>
		<string>Nikolaus Otto</string>
		<key>Country</key>
		<string>Germany 🇩🇪 Europe</string>
		<key>Quotes</key>
		<array>
			<string>-</string>
		</array>
		<key>Info</key>
		<string>A German inventor, Nikolaus Otto is credited with the development of the four stroke engine. Also referred to as the Otto-cycle engine, his invention helped to initiate the development of motor cars. The same four steps of drawing in fuel and air, compressing the mixture then igniting it, and finally expelling through the exhaust is still the basis for our modern day combustion engines.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>scientist</string>
			<string>engineer</string>
			<string>enterpreneur</string>
		</array>
		<key>Gender</key>
		<string>man</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>LeonardodaVinci</string>
		<key>Name</key>
		<string>Leonardo da Vinci</string>
		<key>Country</key>
		<string>Italy 🇮🇹 Europe</string>
		<key>Quotes</key>
		<array>
			<string>&quot;Simplicity is the ultimate sophistication.&quot;</string>
			<string>&quot;Art is never finished, only abandoned.&quot;</string>
			<string>&quot;Learning never exhausts the mind.&quot;</string>
		</array>
		<key>Info</key>
		<string>Most famous for his painting, Da Vinci was actually ahead of his time when it came to engineering. You might be surprised to know that his technological ingenuity was right up there as one of the best. Although relatively few of his ideas were feasible at the time because of the limits in engineering, he conceptualised many inventions from flying machines, like the modern day helicopter, to concentrated solar power.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>scientist</string>
			<string>engineer</string>
			<string>artist</string>
		</array>
		<key>Gender</key>
		<string>man</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>WrightBrothers</string>
		<key>Name</key>
		<string>Wright Brothers</string>
		<key>Country</key>
		<string>USA 🇺🇸 America</string>
		<key>Quotes</key>
		<array>
			<string>&quot;The airplane stays up because it doesn&apos;t have the time to fall.&quot;</string>
			<string>&quot;No flying machine will ever fly from New York to Paris…[because] no known motor can run at the requisite speed for four days without stopping.&quot;</string>
			<string>&quot;If birds can glide for long periods of time, then… why can&apos;t I?&quot;</string>
		</array>
		<key>Info</key>
		<string>Ok, so technically there are two people here, but for the sake of this list we&apos;ll count them as one. The brothers were responsible for creating the airplane. Originally bike mechanics, their love of kite-flying and curiosity led them to new heights. Initial prototypes did not stay in the air for long, but the brothers worked tirelessly to develop a pulley system to change the shape of the wing during flight, giving the plane more stability – changing the world we live in today.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>scientist</string>
			<string>engineer</string>
		</array>
		<key>Gender</key>
		<string>man</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>AlexanderGrahamBell</string>
		<key>Name</key>
		<string>Alexander Graham Bell</string>
		<key>Country</key>
		<string>UK 🇬🇧 Europe</string>
		<key>Quotes</key>
		<array>
			<string>&quot;Mr. Watson — Come here — I want to see you.&quot;</string>
			<string>&quot;When one door closes another door opens; but we so often look so long and so regretfully upon the closed door, that we do not see the ones which open for us.&quot;</string>
			<string>&quot;Before anything else, preparation is the key to success.&quot;</string>
		</array>
		<key>Info</key>
		<string>A Scottish born engineer, scientist and inventor, Alexander Graham Bell is credited with providing us with the first telephone. His work was strongly influenced by the fact that unusually both his mother and wife were deaf. This led him to focus on the areas of elocution and speech, and eventually experimenting with hearing devices. The first U.S. patent for the telephone was awarded to him way back in 1876. He also had many other inventions in later life, including in aeronautics and optical telecommunications.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>scientist</string>
			<string>engineer</string>
		</array>
		<key>Gender</key>
		<string>man</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>GeorgeStephenson</string>
		<key>Name</key>
		<string>George Stephenson</string>
		<key>Country</key>
		<string>UK 🇬🇧 Europe</string>
		<key>Quotes</key>
		<array>
			<string>&quot;The rage for railroads is so great that many will be laid in parts where they will not pay.&quot;</string>
			<string>&quot;I am glad to learn that the Parliament Bill has been passed for the Darlington Railway.&quot;</string>
		</array>
		<key>Info</key>
		<string>George Stephenson was a civil and mechanical engineer who developed and built steam locomotives for some of the first ever railways. Because of his impact, he is sometimes referred to as &apos;the Father of the Railway&apos;. He lived during the industrial revolution in Britain, and at the time of his passing in 1848, its railways and factories resulted in it being one of the world’s richest countries. George’s son Robert helped his father build railways and became equally as famous in his own right.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>scientist</string>
			<string>engineer</string>
		</array>
		<key>Gender</key>
		<string>man</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>JosephineGoube</string>
		<key>Name</key>
		<string>Josephine Goube</string>
		<key>Country</key>
		<string>France 🇫🇷 Europe</string>
		<key>Quotes</key>
		<array>
			<string>-</string>
		</array>
		<key>Info</key>
		<string>A French innovator with a heart of gold, Goube has shown that entrepreneurial innovation and humanitarianism can go hand in hand together. She is the CEO of Techfugees, a social enterprise that helps to coordinate the charitable efforts of the global tech community in helping respond to various refugee crises worldwide.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>entrepreneur</string>
			<string>engineer</string>
			<string>developer</string>
		</array>
		<key>Gender</key>
		<string>woman</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>RobertGentz</string>
		<key>Name</key>
		<string>Robert Gentz</string>
		<key>Country</key>
		<string>Germany 🇩🇪 Europe</string>
		<key>Quotes</key>
		<array>
			<string>-</string>
		</array>
		<key>Info</key>
		<string>The German started the eCommerce platform Zalando in 2008 when he was just 23 years-old. Predominantly specializing in shoes, the company has gone from strength to strength, with a current value of a staggering 6.8 billion euros and 5,000 staff on the payroll. In the realms of entrepreneurial eCommerce, Gentz is truly one of the prototypes on how to do things correctly.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>entrepreneur</string>
			<string>engineer</string>
			<string>developer</string>
		</array>
		<key>Gender</key>
		<string>man</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>OliverDlouhy</string>
		<key>Name</key>
		<string>Oliver Dlouhy</string>
		<key>Country</key>
		<string>Czechia 🇨🇿 Europe</string>
		<key>Quotes</key>
		<array>
			<string>-</string>
		</array>
		<key>Info</key>
		<string>Despite having nothing more under his belt than a highschool education from his native Czech Republic, Dlouhy went on to develop a flight-booking algorithm designed to deliver the lowest possible fares by integrating flights from carriers that typically wouldn’t cooperate with one another. As the sole founder of Kiwi.com, Dlouhy has seen his company grow exponentially in just a few years and it seems that this year there’s no sign of business falling off.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>entrepreneur</string>
			<string>engineer</string>
			<string>developer</string>
		</array>
		<key>Gender</key>
		<string>man</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>GertvanVugt</string>
		<key>Name</key>
		<string>Gert van Vugt</string>
		<key>Country</key>
		<string>Netherlands 🇳🇱 Europe</string>
		<key>Quotes</key>
		<array>
			<string>-</string>
		</array>
		<key>Info</key>
		<string>At less than 30 years of age, the ambitious Dutchman has achieved much in a short span of time. As the sole founder of Sustainer Homes, van Vugt set out to reduce carbon emissions in the construction industry, which accounts for a third of the world’s carbon dioxide emissions. His company employs the latest green technologies to create sustainable homes that cut out 90% of greenhouse gases from the construction process. Hundreds of these green homes have already been built, and there are even plans underway to build three whole sustainable neighborhoods by the end of the year.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>entrepreneur</string>
			<string>engineer</string>
			<string>scientist</string>
		</array>
		<key>Gender</key>
		<string>man</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>JamieBolding</string>
		<key>Name</key>
		<string>Jamie Bolding</string>
		<key>Country</key>
		<string>UK 🇬🇧 Europe</string>
		<key>Quotes</key>
		<array>
			<string>-</string>
		</array>
		<key>Info</key>
		<string>Hailing from the United Kingdom, bolding is the sole founder of the meteorically successful Jungle Creations. This social media marketing platform helps connect users with a talent for viral content creation join forces with the biggest companies looking to crowdsource fresh talent to help put their latest campaigns together. Numbering titans of business like Apple and Disney amongst their client base, 50 million followers help this site generate 5 billion unique video views every month, making for one of the most lively social marketing networks around.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>entrepreneur</string>
			<string>engineer</string>
		</array>
		<key>Gender</key>
		<string>man</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>MaxPolyakov</string>
		<key>Name</key>
		<string>Dr. Max Polyakov</string>
		<key>Country</key>
		<string>Ukraine 🇺🇦 Europe</string>
		<key>Quotes</key>
		<array>
			<string>-</string>
		</array>
		<key>Info</key>
		<string>There seems to be no limit to the ambitions of the Ukrainian technologist and entrepreneur Dr. Max Polyakov, whose many businesses have interests in the development of medical technology, drones, AI and, most intriguingly, space technology. One of his most recent achievements was coming to the rescue of the rocket development company Firefly Space Systems after they declared bankruptcy in 2016. Now, with the generous backing of Dr. Polyakov’s Noosphere Ventures, Firefly Aerospace (as it’s been renamed) is back with a more ambitious long-term plan than ever before to develop small and medium satellite launch solutions using the very latest astro technology and materials.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>entrepreneur</string>
			<string>engineer</string>
		</array>
		<key>Gender</key>
		<string>man</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>ErikGatenholm</string>
		<key>Name</key>
		<string>Erik Gatenholm</string>
		<key>Country</key>
		<string>Sweden 🇸🇪 Europe</string>
		<key>Quotes</key>
		<array>
			<string>-</string>
		</array>
		<key>Info</key>
		<string>The ambitious Swede co-founded Cellink, a forward-thinking company that is the principal innovator in developing 3D printing technology to create human organs used in medical research. The premise is astonishing, but Gatenholm is clearly a persuasive individual, taking the company public on the Nasdaq exchange a mere ten months after the company went live. It currently holds some particularly prestigious clients on their books, including Takara Bio and MIT, with an operation that ships to more than 40 countries across the globe.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>entrepreneur</string>
			<string>developer</string>
			<string>engineer</string>
		</array>
		<key>Gender</key>
		<string>man</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>KritiSharma</string>
		<key>Name</key>
		<string>Kriti Sharma</string>
		<key>Country</key>
		<string>India 🇮🇳 Asia</string>
		<key>Quotes</key>
		<array>
			<string>-</string>
		</array>
		<key>Info</key>
		<string>As the vice president of AI and Bots at Sage, Sharma is helping to oversee one of the United Kingdom’s largest emerging tech companies. She’s helping her business lead the way in the arena of chatbot development, which is increasingly becoming a frontier in the realms of smart customer service. She’s dedicated herself to developing more diverse and ethically sensitive artificial intelligent systems that improve customer engagement in business and financial sectors. However, Sharma is solidly opposed to trying to make bots better mimic humans and instead focuses on programming the software for maximum utility and user-friendliness.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>entrepreneur</string>
			<string>developer</string>
		</array>
		<key>Gender</key>
		<string>woman</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>KonstantinRangelov</string>
		<key>Name</key>
		<string>Konstantin Rangelov</string>
		<key>Country</key>
		<string>Bulgaria 🇧🇬 Europe</string>
		<key>Quotes</key>
		<array>
			<string>-</string>
		</array>
		<key>Info</key>
		<string>In his capacity as Chief Technical Officer and co-founder of Dronamics, the Bulgarian entrepreneur Konstantin Rangelov has thrown himself into looking into the tantalizing possibilities offered by unmanned air haulage technology for transporting high volume payloads over great distances. His plans for cargo drones aim to dramatically reduce the costs of both the manufacturing and operation for air freight services to open up trade possibilities for billions of people all over the world who are out of range of major delivery hubs. The successful implementation of this technology could make same-day international delivery an affordable reality and help connect a huge number of people with global trade networks.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>engineer</string>
			<string>entrepreneur</string>
			<string>developer</string>
		</array>
		<key>Gender</key>
		<string>man</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>MateRimac</string>
		<key>Name</key>
		<string>Mate Rimac</string>
		<key>Country</key>
		<string>Bosnia&amp;Herzegovina 🇧🇦 Europe</string>
		<key>Quotes</key>
		<array>
			<string>&quot;Most of these people would be outside Croatia if it wasn’t for this company.&quot;</string>
			<string>&quot;A lot of people wanted to introduce Elon Musk to me, but I didn’t want that.&quot;</string>
		</array>
		<key>Info</key>
		<string>The young Croatian is the CEO of Rimac Automobili, a car manufacturer with ties to the development of all aspects of the transportation systems of the future. High-performance electric cars, battery systems, and drivetrain technology are all cutting-edge technology, and the company currently has the world’s fastest production model electric car, the Concept One. In addition, Rimac started Greyp Bikes in 2013, which aims to make it big in roads by applying electric automobile technology to two-wheeled vehicles.</string>
		<key>Jobs</key>
		<array>
			<string>inventor</string>
			<string>engineer</string>
			<string>entrepreneur</string>
		</array>
		<key>Gender</key>
		<string>man</string>
	</dict>
</array>
</plist>
