<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>engineer</key>
		<string>👷‍♀️👷👷‍♂️</string>
	</dict>
	<dict>
		<key>enterpreneur</key>
		<string>👩‍💼🧑‍💼👨‍💼</string>
	</dict>
	<dict>
		<key>doctor</key>
		<string>👩‍⚕️🧑‍⚕️👨‍⚕️</string>
	</dict>
	<dict>
		<key>chef</key>
		<string>👩‍🍳🧑‍🍳👨‍🍳</string>
	</dict>
	<dict>
		<key>investor</key>
		<string>👱‍♀️👱👱‍♂️</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>👩‍🎤🧑‍🎤👨‍🎤</string>
	</dict>
	<dict>
		<key>developer</key>
		<string>👩‍💻🧑‍💻👨‍💻</string>
	</dict>
	<dict>
		<key>lawyer</key>
		<string>👩‍⚖️🧑‍⚖️👨‍⚖️</string>
	</dict>
	<dict>
		<key>inventor</key>
		<string>👩‍🔧🧑‍🔧👨‍🔧</string>
	</dict>
	<dict>
		<key>scientist</key>
		<string>👩‍🔬🧑‍🔬👨‍🔬</string>
	</dict>
	<dict>
		<key>artist</key>
		<string>👩‍🎨🧑‍🎨👨‍🎨</string>
	</dict>
	<dict>
		<key>pilot</key>
		<string>👩‍✈️🧑‍✈️👨‍✈️</string>
	</dict>
	<dict>
		<key>astronaut</key>
		<string>👩‍🚀🧑‍🚀👨‍🚀</string>
	</dict>
</array>
</plist>
